/* Noto Sans */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;300;400;500;700;900&display=swap');
/* Inter Tight */
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@200;300;400;500;700;900&display=swap');



html,
body {
	font-family: Noto-Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    overflow: hidden;
}

*::-webkit-scrollbar {
  background-color: transparent;
  width: 16px;
}
*::-webkit-scrollbar-track {
  background-color: transparent;
}
*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border: 3px solid transparent;
  background: hsla(210, 6%, 24%, 1);
  background-clip: content-box;
}

a {
  color: inherit;
	text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
	}
	body {
    color: white;
		background: black;
	}
}

.app {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  position: relative;
  display: grid;
  /* justify-content: center; */
  overflow: hidden;
}

main {
  width: 100%;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  overflow-y: overlay;
  overflow-x: hidden;
}

ul {
  list-style: none;
}


svg, img {
  display: block
}

